
/* ---------- Search LRCLIB Lyrics Styles ---------- */
.lyrics-loader {
  font-size: 1.4rem;
}
.lyrics-loader div {
  margin: 10px 0px;
}
.lyrics-loader .loader {
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--font-color-one);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.lyrics.song-row {
  padding: 10px 0px;
}
.lyrics-synced {
  padding: 0.3rem 0.2rem;
  background-color: var(--highlight-hover);
  border-radius: 6px;
  color: var(--font-color-hover);
}
.lyrics-plain {
  padding: 0.3rem 0.2rem;
  background-color: #7d7d7d;
  border-radius: 6px;
  color: var(--font-color-hover);
}
.lyrics-instrumental {
  padding: 0.3rem 0.2rem;
  background-color: #7d7d7d;
  border-radius: 6px;
  color: var(--font-color-hover);
}
.song-details-modal.lyrics {
  height: 42rem;
}
.song-details-modal.lyrics .header {
  margin-top: 20px;
}
.song-details-modal.lyrics .header .title {
  border-radius: var(--border-radius);
  padding: 8px 10px;
}
.song-details-modal.lyrics .header .title.active {
  border-radius: var(--border-radius);
  background-color: var(--highlight-hover);
  color: var(--font-color-hover);
}

.song-details-modal.lyrics .simplebar-content {
  font-size: 1.1rem;
  white-space: pre-line;
  line-height: 1.8rem;
  overflow: hidden;
}
.song-details-modal.lyrics .simplebar-content:before {
  display: none;
}
.song-details-modal.lyrics .simplebar-track,
.song-details-modal.lyrics .simplebar-scrollable-y {
  /* margin-top: 0.9rem; */
  height: 30rem !important;
}